node_modules/
server.log
priceHistory.json
*.log
data/visits.txt
data/username.txt
data/waystones.json
data/items.json
data/ignoredWaystones.json
data/ignoredShops.json
data/news.json
data/graphs.json