@font-face {
    font-family: 'Minecraftia';
    src: url('/Minecraftia-Regular.ttf') format('truetype');
}

body {
    font-family: 'Minecraftia', Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
